.search-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .custom-input {
    width: 250px;
  }

  &__input-group {
    display: flex;
    flex-direction: column;

    &__label {
      margin-bottom: 2px;
    }
  }
}
