.home {
  display: flex;
  flex-direction: row;
  margin: 50px 0;

  &__search-section {
    padding-right: 50px;
  }

  &__movies-list {
    border-left: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 50px;

    .movie-wrapper {
      position: relative;

      &__movie {
      }

      &__icon {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
}
