.footer {
  display: flex;
  justify-content: center;
  line-height: 17px;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 25px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li:not(:last-child)::after {
      cursor: default;
      content: '\2022';
      padding: 0 8px 0 8px;
      color: #757575;
    }

    &__item,
    a {
      display: inline;
      cursor: pointer;
      color: #757575;
    }
  }
}
